header{
    position: sticky;
    top:0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    padding: 30px;
    display: flex;
    background: #E3E6F3;
    z-index: 10;
    transition: all 0.2s linear;
}

header.scroll-effect{
    padding: 15px;
}

header .navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #navbar ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

header #navbar ul li{
    margin-left: 35px;
    text-decoration: none;
}

header #navbar ul li a{
    text-decoration: none;
    color: #333333;
    font-size: 1.2em;
    position: relative;
    font-weight: 600;
    transition: color 0.2s ease;
}

header #navbar ul li a:hover,
header #navbar .active{
    color: var(--primary-color);
}

header #navbar a::after{
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -0.3em;
    width: 0;
    height: 3px;
    background-color: var(--primary-color);
    transition: width 0.2s linear;
}

header #navbar a:hover::after,
header #navbar .active::after{
    width: 25px;
    height: 3px;
}

/* Mobile Menu */

#mobile-menu,
#navbar #close-menu {
    display: none;
    font-size: 20px;
    cursor: pointer;
}

@media(max-width: 767px){
    #mobile-menu,
    #navbar #close-menu{
        display: block;
    }
    #navbar{
        position: absolute;
        right: -300px;
        top: 0px;
        background-color: #EEEEEE;
        transition: right 0.3s linear;
    }
    
    #navbar.active{
        right: 0;
    }
    
    header #navbar ul{
        margin-top: 20px;
        flex-direction: column;
        row-gap: 15px;
        height: 100vh;
        width: 200px;
        align-items: flex-start;
    }
}