/* Hero Section */

#hero-section{
    background-image: url("/img/hero4.png");
    background-size: cover;
    background-position: 0 -2.5em;
    height: calc(100vh - 104px);
    display: flex;
    align-items: center;
}

#hero-section h2{
    margin: 20px 0 40px;
}

#hero-section h2 span{
    color: var(--primary-color);
}

#hero-section a{
    display: inline-block;
    border: none;
    background-image: url(/img/button.png);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 15px;
    padding: 20px 70px;
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: none;
}

/* Feature Section */

#feature-section{
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

#feature-section .feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 13px;
    border: 1px solid #cce7d0;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    transition: all 0.2s linear;
}

#feature-section .feature:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.2);
}

#feature-section .feature img{
    width: 100%;
    height: auto;
}

#feature-section .feature span{
    display: inline-block;
    /* color: #088178; */
    color: #000;
    color: rgba(0, 0, 0, 0.5);
    font-size: 17px;
    font-weight: 500;
    padding: 10px 15px;
    margin-top: 15px;
    border-radius: 4px;
}

#feature-section .feature:nth-child(1) span{
    background: #fddde4;
}

#feature-section .feature:nth-child(2) span{
    background: #cdebbc;
}

#feature-section .feature:nth-child(3) span{
    background: #d1e8f2;
}

#feature-section .feature:nth-child(4) span{
    background: #cdd4f8;
}

#feature-section .feature:nth-child(5) span{
    background: #f6dbf6;
}

#feature-section .feature:nth-child(6) span{
    background: #fff2e5;
}

/* Featured Product Section */

#featured-product-section{
    margin: 80px auto;
}

#featured-product-section h2,
#featured-product-section p{
    text-align: center;
}

#featured-product-section p{
    font-size: 1.52em;
    margin-top: 15px;
}

#featured-product-section .featured-products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-top: 30px;
}

#featured-product-section .featured-products .product{
    border: 1px solid rgb(209, 209, 209);
    border-radius: 25px;
    box-shadow: 10px 10px 20px rgba(70, 62, 221, 0.1);
    overflow: hidden;
    padding: 10px;
}

#featured-product-section .product-images{
    display: flex;
    grid-column-gap: 10px;
    position: relative;
    margin-left: 0;
}

#featured-product-section .product-images:hover .product-img{
    margin-left: calc(-100% - 10px);
}

#featured-product-section .product-img,
#featured-product-section .product-img-hover{
    transition: margin 0.2s linear;
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 15px;
}

#featured-product-section .product-category{
    font-size: 1.1em;
    color: #777777;
}

#featured-product-section .product-title{
    font-size: 1.2em;
    margin-top: 12px;
    font-weight: 600;
}

#featured-product-section .more-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#featured-product-section .star{
    margin: 5px 0 7px;
    color: gold;
}

#featured-product-section .price{
    font-size: 1.3em;
    font-weight: 500;
    color: green;
}

#featured-product-section .add-to-cart-btn{
    border: none;
    width: 40px;
    height: 40px;
    background-color: rgb(202, 250, 213);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s linear;
}

#featured-product-section .add-to-cart-btn:hover{
    box-shadow: 0 0 40px rgba(20, 42, 121, 0.2);
    transform: scale(1.1);
}

/* Call-to-Action Section */

#call-to-action-section{
    background: url(/img/banner/b2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    margin: 100px 0;
    padding: 10vh 0;
}

#call-to-action-section h2,
#call-to-action-section h4{
    color: white;
}

#call-to-action-section h2{
    /* font-size: 2.15em; */
    font-size: 2.4vw;
    margin: 3vh 0;
    letter-spacing: 1px;
}

#call-to-action-section h2 span{
    color: orangered;
}

#call-to-action-section h4{
    font-size: 1.6vw;
    font-weight: 600;
}

#call-to-action-section button{
    font-size: 1.5vw;
    border: none;
    background: white;
    padding: 3vh 3vw;
    border-radius: 7px;
}