/* === Global Styling CSS === */
html {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

:root {
    --heading-color: #222;
    --primary-color: #088178;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: var(--heading-color)
}

h2 {
    font-size: 66px;
    line-height: 54px;
    color: var(--heading-color)
}

h4 {
    font-size: 26px;
    color: var(--heading-color)
}

h6 {
    font-size: 12px;
    font-weight: 700;
    color: var(--heading-color)
}

p {
    font-size: 18px;
    color: #777777;
}

.section-padding {
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

::selection {
    color: white;
    background: var(--primary-color);
}

@media (max-width: 767px) {
    .section-padding {
        padding: 0 10px;
    }
}

/* Header CSS */
header {
    position: sticky;
    top: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    padding: 30px;
    display: flex;
    background: #E3E6F3;
    z-index: 10;
    transition: all 0.2s linear;
}

header.scroll-effect {
    padding: 15px;
}

header .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #navbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

header #navbar ul li {
    margin-left: 35px;
    text-decoration: none;
}

header #navbar ul li a {
    text-decoration: none;
    color: #333333;
    font-size: 1.2em;
    position: relative;
    font-weight: 600;
    transition: color 0.2s ease;
}

header #navbar ul li a:hover,
header #navbar .active {
    color: var(--primary-color);
}

header #navbar a::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -0.3em;
    width: 0;
    height: 3px;
    background-color: var(--primary-color);
    transition: width 0.2s linear;
}

header #navbar a:hover::after,
header #navbar .active::after {
    width: 25px;
    height: 3px;
}

/* Mobile Menu */

#mobile-menu,
#navbar #close-menu {
    display: none;
    font-size: 20px;
    cursor: pointer;
}

@media(max-width: 767px) {

    #mobile-menu,
    #navbar #close-menu {
        display: block;
    }

    #navbar {
        position: absolute;
        right: -300px;
        top: 0px;
        background-color: #EEEEEE;
        transition: right 0.3s linear;
        max-width: 0;
    }

    #navbar.active {
        max-width: 100%;
        right: 0;
    }

    header #navbar ul {
        margin-top: 20px;
        flex-direction: column;
        row-gap: 15px;
        height: 100vh;
        width: 200px;
        align-items: flex-start;
    }
}

/* Home CSS */
/* Hero Section */

#hero-section {
    background-image: url("../img/hero4.png");
    background-size: cover;
    background-position: 0 -2.5em;
    height: calc(100vh - 104px);
    display: flex;
    align-items: center;
}

#hero-section h2 {
    margin: 20px 0 40px;
}

#hero-section h2 span {
    color: var(--primary-color);
}

#hero-section a {
    display: inline-block;
    border: none;
    background-image: url(../img/button.png);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 15px;
    padding: 20px 70px;
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: none;
}

/* Feature Section */

#feature-section {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

#feature-section .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 13px;
    border: 1px solid #cce7d0;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    transition: all 0.2s linear;
}

#feature-section .feature:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.2);
}

#feature-section .feature img {
    width: 100%;
    height: auto;
}

#feature-section .feature span {
    display: inline-block;
    /* color: #088178; */
    color: #000;
    color: rgba(0, 0, 0, 0.5);
    font-size: 17px;
    font-weight: 500;
    padding: 10px 15px;
    margin-top: 15px;
    border-radius: 4px;
}

#feature-section .feature:nth-child(1) span {
    background: #fddde4;
}

#feature-section .feature:nth-child(2) span {
    background: #cdebbc;
}

#feature-section .feature:nth-child(3) span {
    background: #d1e8f2;
}

#feature-section .feature:nth-child(4) span {
    background: #cdd4f8;
}

#feature-section .feature:nth-child(5) span {
    background: #f6dbf6;
}

#feature-section .feature:nth-child(6) span {
    background: #fff2e5;
}

/* Featured Product & New Arrival Section */

.product-section {
    margin: 80px auto;
}

.product-section h2,
.product-section p {
    text-align: center;
}

.product-section p {
    font-size: 1.52em;
    margin-top: 15px;
}

.product-section .featured-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-top: 30px;
}

.product-section .featured-products .product {
    border: 1px solid rgb(209, 209, 209);
    border-radius: 25px;
    box-shadow: 10px 10px 20px rgba(70, 62, 221, 0.1);
    overflow: hidden;
    padding: 10px;
}

.product-section .product-images {
    display: flex;
    grid-column-gap: 10px;
    position: relative;
    margin-left: 0;
}

.product-section .product-images:hover .product-img {
    margin-left: calc(-100% - 10px);
}

.product-section .product-img,
.product-section .product-img-hover {
    transition: margin 0.2s linear;
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 15px;
}

.product-section .product-category {
    font-size: 1.1em;
    color: #777777;
}

.product-section .product-title {
    font-size: 1.2em;
    margin-top: 12px;
    font-weight: 600;
}

.product-section .more-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-section .star {
    margin: 5px 0 7px;
    color: gold;
}

.product-section .price {
    font-size: 1.3em;
    font-weight: 500;
    color: green;
}

.product-section .add-to-cart-btn {
    border: none;
    width: 40px;
    height: 40px;
    background-color: rgb(202, 250, 213);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s linear;
}

.product-section .add-to-cart-btn:hover {
    box-shadow: 0 0 40px rgba(20, 42, 121, 0.2);
    transform: scale(1.1);
}

/* Call-to-Action Section */

#call-to-action-section {
    background: url(../img/banner/b2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    margin: 100px 0;
    padding: 10vh 0;
}

#call-to-action-section h2,
#call-to-action-section h4 {
    color: white;
}

#call-to-action-section h2 {
    font-size: 2.4vw;
    margin: 3vh 0;
    letter-spacing: 1px;
}

#call-to-action-section h2 span {
    color: orangered;
}

#call-to-action-section h4 {
    font-size: 1.6vw;
    font-weight: 600;
}

#call-to-action-section button {
    font-size: 1.5vw;
    border: none;
    background: white;
    padding: 3vh 3vw;
    border-radius: 7px;
}

/* Discount section */

#discount-section .two-col-section,
#discount-section .three-col-section {
    display: flex;
    column-gap: 30px;
}

#discount-section .two-col-section .left-col,
#discount-section .two-col-section .right-col {
    width: 50%;
    padding: 100px 30px;
}

#discount-section .two-col-section .left-col {
    background-image: url("../img/banner/b17.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#discount-section .two-col-section h3 {
    color: white;
    font-size: 2em;
    font-weight: 300;
}

#discount-section .two-col-section h2 {
    color: white;
    font-size: 2.6em;
    font-weight: 700;
    margin: 5px 0;
}

#discount-section .two-col-section p {
    color: white;
    font-size: 1.2em;
    font-weight: 400;
}

#discount-section .two-col-section button {
    position: relative;
    font-size: 1.1rem;
    margin-top: 16px;
    padding: 11px 25px;
    color: white;
    border: 1px solid white;
    background-color: transparent;
}

#discount-section .two-col-section button .button-text {
    position: relative;
    z-index: 2;
}

#discount-section .two-col-section button .button-overlay {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 0;
    background-color: var(--primary-color);
    height: calc(100% + 2px);
    z-index: 1;
    transition: all 0.2s linear;
}

#discount-section .two-col-section button:hover .button-overlay {
    width: calc(100% + 2px);
}

#discount-section .two-col-section .right-col {
    background-image: url("../img/banner/b10.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#discount-section .three-col-section {
    margin-top: 30px;
}

#discount-section .three-col-section .left-col,
#discount-section .three-col-section .middle-col,
#discount-section .three-col-section .right-col {
    width: 33.33%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 70px 20px;
}

#discount-section .three-col-section .left-col {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../img/banner/b7.jpg")
}

#discount-section .three-col-section .middle-col {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../img/banner/b4.jpg");
}

#discount-section .three-col-section .right-col {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../img/banner/b18.jpg");
}

#discount-section .three-col-section h3 {
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
}

#discount-section .three-col-section p {
    font-size: 1.3em;
    margin-top: 10px;
    color: orangered;
}

/* Newsletter section */
#newsletter-section {
    margin: 80px 0;
    background-image: url("../img/banner/b14.png");
    background-color: #041e42;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    padding: 50px 0;
}

#newsletter-section .newsletter-wrapper {
    display: flex;
    align-items: center;
}

#newsletter-section .left-col,
#newsletter-section .right-col {
    width: 50%;
}

#newsletter-section .left-col h3 {
    color: white;
    font-size: 2em;
}

#newsletter-section .left-col p {
    color: #CCCCCC;
    margin-top: 20px;
}

#newsletter-section .right-col form {
    text-align: end;
}

#newsletter-section .right-col form input[type="email"] {
    padding: 15px;
    width: 350px;
    font-size: 1em;
    border: none;
    border-radius: 5px 0 0 5px;
}

#newsletter-section .right-col form input[type="submit"] {
    font-size: 1em;
    padding: 15px 35px;
    margin-left: -4px;
    background-color: var(--primary-color);
    border: none;
    color: white;
    border-radius: 0 5px 5px 0;
}

/* Footer section */

footer .footer-first-row {
    display: flex;
}

footer .first-col {
    width: 40%;
}

footer .first-col img {
    margin-bottom: 25px;
}

footer h4 {
    font-size: 1.3em;
}

footer .first-col .contact-info {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

footer .first-col .contact-info p {
    font-size: 1.1em;
    color: #555555;
}

footer .first-col .contact-info p .contact-title {
    font-weight: bold;
}

footer .first-col .social-icons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    font-size: 1.2em;
}

footer .second-col,
footer .third-col {
    width: 18%;
}

footer .links {
    list-style-type: none;
    margin-top: 20px;
}

footer .links li+li {
    margin-top: 10px;
}

footer .links li a,
footer p {
    font-size: 1.1em;
    text-decoration: none;
    color: #555555;
}

footer .fourth-col p {
    margin: 20px 0;
}

footer .download-images {
    display: flex;
    column-gap: 10px;
    margin-top: 20px;
}

footer .download-images img {
    border: 1px solid black;
    border-radius: 4px;
}

footer #copyright-text {
    display: block;
    text-align: center;
    margin: 40px 0;
    font-size: 1.1em;
    color: #555555;
}

@media (max-width: 767px) {
    #hero-section {
        background-position: center;
    }

    #hero-section h4 {
        font-size: 1.5em;
    }

    #hero-section h2 {
        font-size: 3em;
        margin: 15px 0;
    }

    #feature-section {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .product-section h2 {
        font-size: 2em;
    }

    .product-section p {
        margin-top: 0;
        font-size: 1.2em;
    }

    .product-section .featured-products {
        grid-template-columns: 1fr;
    }

    #call-to-action-section h4 {
        font-size: 3.5vw;
    }

    #call-to-action-section h2 {
        font-size: 5.5vw;
        line-height: 1.1;
    }

    #call-to-action-section button {
        font-size: 2.6vw;
    }

    #discount-section .two-col-section,
    #discount-section .three-col-section {
        flex-direction: column;
        gap: 20px;
    }

    #discount-section .two-col-section .left-col,
    #discount-section .two-col-section .right-col {
        width: 100%;
    }

    #discount-section .three-col-section .left-col,
    #discount-section .three-col-section .middle-col,
    #discount-section .three-col-section .right-col {
        width: 100%;
    }

    #newsletter-section .newsletter-wrapper {
        flex-direction: column;
        align-items: normal;
        justify-content: unset;
    }

    #newsletter-section .newsletter-wrapper .left-col,
    #newsletter-section .newsletter-wrapper .right-col {
        width: 100%;
        text-align: center;
    }

    #newsletter-section .newsletter-wrapper .newsletter-form {
        text-align: center;
        margin-top: 15px;
    }

    footer .footer-first-row {
        flex-wrap: wrap;
    }

    footer .footer-first-row .first-col {
        width: 50%;
    }

    footer .footer-first-row .second-col,
    footer .footer-first-row .third-col {
        width: 25%;
    }

    footer .footer-first-row .fourth-col {
        width: 100%;
        margin-top: 20px;
    }
}